<!DOCTYPE html>
<html>
<head>
    <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{{ styles_url }}}post.css">
    <link rel="stylesheet" type="text/css" href="{{{ styles_url }}}font-awesome/css/font-awesome.min.css">
    <!-- <script src="https://use.fontawesome.com/ba0e3f3bde.js"></script> -->

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />

  <meta name="author" content="Jay Kint" />
  <meta name="description" content="Jay Kint's blog for technical/programmable musings" />
  <meta property="og:site_name" content="Flagrant System Error"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:title" content="Flagrant System Error"/>
  <meta property="og:description" content="Technical Blog for Jay Kint"/>
  <meta property="og:locale" content="en-US"/>
  <meta property="og:url" content="http://flagrantsystemerror.com"/>

  <title>Flagrant System Error - {{ title }}</title>
</head>
<body>
    <!-- google tag manager -->
  <aside>
    <div>
        <div id="banner">
          <a href="{{{ posts_url }}}index.html">
              <img src="{{{ images_url }}}flagrant_system_error.png" />
          </a>
        </div>
        <div id="author">
            <p>BY JAY KINT</p>
        </div>
      <nav>
        <ul class="list">
            <li><a href="{{{ posts_url }}}index.html">home</a></li>
            <li><a href="{{{ sidebar_url }}}archive.html">archive</a></li>
            <li><a href="{{{ sidebar_url }}}colophon.html">colophon</a></li>
            <li><a href="{{{ sidebar_url }}}projects.html">projects</a></li>
            <li><a href="{{{ sidebar_url }}}contact.html">contact</a></li>
        </ul>
      </nav>
      <!-- social buttons go here -->
      <div class="credits">
          <p>{{{ credits }}}</p>
      </div>
    </div>
  </aside>
  <main>
    <!-- <nav> -->
        <!-- links to other items go here -->
    <!-- </nav> -->
    <article>
        {{{ contents }}}
    </article>
    <footer>
        <div class="credits">
            <p>{{{ credits }}}</p>
        </div>
    </footer>
  </main>

  <!-- analytics go here -->
</body>
</html>
